---
name: Test
on:
  push:
    branches: 
      - master
    paths-ignore:
      - README.md
      - LICENSE
  pull_request:
    branches: 
      - master
    paths-ignore:
      - README.md
      - LICENSE
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        image:
          - name: debian
            tag: buster
          - name: debian
            tag: stretch
          - name: centos
            tag: 8
          - name: centos
            tag: 7
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v1.1.1
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          sudo apt-get install docker
          python -m pip install --upgrade pip
          pip install ansible molecule pytest docker
      - name: Test with molecule
        run: molecule test
        env:
          image: ${{ matrix.image.name }}
          tag: ${{ matrix.image.tag }}
          type: native
